[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
watermark = "*"
numpy = "*"
pandas = "*"
xlrd = "*"
xlwt = "*"
tabulate = "*"
requests = "*"
matplotlib = "*"
seaborn = "*"
missingno = "*"
sklearn = "*"

[dev-packages]
black = "*"
blackcellmagic = "*"
pylint = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
